@{
    ViewBag.Title = "Flight Route Calculator";
}

<h1>@ViewBag.Title</h1>

<div id="flightRoutesWrapper">
    <h2>Departure Flights</h2>
    <ul>
        @foreach (var flight in Model.OutboundFlights)
        {
            <li class="flightDetails">
                <p>Departure Airport: @flight.DepartureAirportCode</p>
                <p>Arrival Airport: @flight.ArrivalAirportCode</p>
                <p>Airline: @flight.Airline</p>
                <p>Price: @flight.Price</p>
            </li>
        }
    </ul>

    <h2>Arrival Flights</h2>
    <ul>
        @foreach (var flight in Model.InboundFlights)
        {
            <li class="flightDetails">
                <p>Departure Airport: @flight.DepartureAirportCode</p>
                <p>Arrival Airport: @flight.ArrivalAirportCode</p>
                <p>Airline: @flight.Airline</p>
                <p>Price: @flight.Price</p>
            </li>
        }
    </ul>
</div>