@{
    ViewBag.Title = "Flight Route Calculator";
}

<h1>@ViewBag.Title</h1>

<div id="flightRoutesWrapper">
    <h2>Departure Flights</h2>
    <ul>
        @foreach (var flight in Model.OutboundFlights)
        {
            <li class="flightDetails">
                <div class="flightLeftSide">
                    <p>Departure Airport: @flight.DepartureAirportCode</p>
                    <p>Arrival Airport: @flight.ArrivalAirportCode</p>
                </div>

                <div class="flightRighSide">
                    <p>Airline: @flight.Airline</p>
                    <p>Price: @flight.Price</p>

                    <input class="radioBox" type="radio" name="outboundFlightId" value="@flight.ID" />
                </div>  
            </li>
        }
    </ul>

    <h2>Arrival Flights</h2>
    <ul>
        @foreach (var flight in Model.InboundFlights)
        {
        <li class="flightDetails" id="inboundFlight@(flight.ID)">
            <div class="flightLeftSide">
                <p>Departure Airport: @flight.DepartureAirportCode</p>
                <p>Arrival Airport: @flight.ArrivalAirportCode</p>
            </div>
            <div class="flightRighSide">
                <p>Airline: @flight.Airline</p>
                <p>Price: @flight.Price</p>

                <input class="radioBox" type="radio" name="inboundFlightId" value="@flight.ID" />
            </div>
        </li>
        }
    </ul>

    <p id="ticketPriceLabel">Price for tickets: <span id="ticketPrice"></span></p>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();

        $("input:radio[name=inboundFlightId]").click(changeInbound);
        $("input:radio[name=outboundFlightId]").click(changeOutbound);

        var inboundFlights = [
            @foreach (var flight in Model.InboundFlights)
            {
                <text>{
                    id: @flight.ID,
                    departureAirportCode: '@flight.DepartureAirportCode',
                    arrivalAirportCode: '@flight.ArrivalAirportCode',
                    airline: '@flight.Airline',
                    price: @flight.Price
                },</text>
            }
        ]; 


        var outboundFlights = [
            @foreach (var flight in Model.OutboundFlights)
            {
                <text>{
                    id: @flight.ID,
                    departureAirportCode: '@flight.DepartureAirportCode',
                    arrivalAirportCode: '@flight.ArrivalAirportCode',
                    airline: '@flight.Airline',
                    price: @flight.Price
                },</text>
            }
        ];

        var ticketPrice = 0;
        var priceBefore = 0;
        showTicketPrice();

        // On click function for the Inbound flights
        function changeInbound() {
            var inboundFlightId = $('input[name=inboundFlightId]:checked').val();
            var price = inboundFlights.find(f => f.id == inboundFlightId).price;

            ticketPrice = priceBefore + price;
            showTicketPrice();
        };

        // On click function for the Outbound flights
        function changeOutbound() {
            clearResults();

            var outboundFlightId = $('input[name=outboundFlightId]:checked').val();

            var airline = outboundFlights.find(f => f.id == outboundFlightId).airline;
            var price = outboundFlights.find(f => f.id == outboundFlightId).price;

            priceBefore = price;
            ticketPrice += price;

            fadeAirline(airline);
        };

        // Disables clicking on a different inbound airline than the airline chosen as outbound flight 
        function fadeAirline(airline) {
            var filteredFligts = inboundFlights.filter(f => f.airline != airline);

            for (var i = 0; i < filteredFligts.length; i++) {
                var flightId = filteredFligts[i].id;
                $("#inboundFlight" + flightId).addClass("disabled");
                $("input[type=radio][value=" + flightId + "]").attr("disabled", true);
            }
        };

        // Clear the fading effect from previous clicks
        function clearResults(){
            for (var i = 0; i < inboundFlights.length; i++) {
                var flightId = inboundFlights[i].id;

                if ($("#inboundFlight" + flightId).hasClass("disabled")) {
                    $("#inboundFlight" + flightId).removeClass("disabled");
                    $("input[type=radio][value=" + flightId + "]").attr("disabled", false);

                    if ($("input[type=radio][value=" + flightId + "]").prop("checked", true)) {
                        $("input[type=radio][value=" + flightId + "]").prop("checked", false);
                    }
                }
            }

            priceBefore = 0;
            ticketPrice = 0;
            showTicketPrice();
        }

        // Show price for tickets
        function showTicketPrice() {
            $("#ticketPrice").html(ticketPrice);
        }
    });
</script>